body {
   display: flex;
   flex-flow: column;
   width: 100%;
   height: 100vh;
   color:#FDB;
   font-size: 15pt;
   background: #a52;
   font-family:Dejavu Sans;
}
body, h1, h2, h3, h4, h5, h6, p, details, summary, div {
   margin: 0px;
   padding: 0px;
   border: 0px;
}
h1 {
   font-size: 28pt;
   margin-bottom: 14px;
}
h2 {
   font-size: 20pt;
   margin-bottom: 10px;
}
h3 {
   font-size: 15pt;
   margin-bottom: 7.5px;
}
h4 {
   font-size: 12pt;
   margin-bottom: 6px;
}
p {
   margin-bottom: 14px;
   min-height: 0px;
}
.page p, .page h1, .page h2, .page h3, .page h4 {
   margin-left: 48px;
   margin-right: 48px;
}
img {
   padding: 0;
   border: 0;
   width:100%;
   max-width:640px;
   margin: 0;
}
body .page p img {
   display: block;
   margin: 0 auto;
}
body .page a:link img {
   width:auto;
   height:28px;
   display: inline-block;
}
body .menu p {
   height: 40px;
   line-height: 40px;
}
body .menu img {
   width:auto;
   height:40px;
   max-width:none;
   margin: 0;
   padding: 0;
}
body .page {
   color: black;
   padding-bottom: 12px;
   padding-top: 24px;

/*   border-radius: 24px;*/
   width: 100%;
   max-width: 1250px;
   margin: 0 auto;
   background: #C9E7BC;
}
body .page li {
    margin-left: 48px;
    margin-right: 48px;
}
body .menu {
   display: flex;
   flex-flow: row;
   background: #18100B;
   width: 100%;
   height: 40px;
   line-height: 40px;
}
body .menu ul, body .menu li{
   list-style:none;
   margin:0;
   padding:0;
}
a:link, a:visited {
   color:#000;
   font-weight: bold;
}
p a:link, p a:visited, li a:link, li a:visited {
   color:#33f;
   font-weight: bold;
}
body .menu p a:link, body .menu p a:visited {
   height: 40px;
   line-height: 40px;
   color: #C9E7BC;
   padding-right: 5px;
}
body .menu a:link {
   font-size: 17px;
   margin: 0px;
   padding: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   top: -15px;
   position: relative;
}
body .menu a:link img {
   top: 15px;
   position: relative;
   padding-right: 0px;
}
body .content {
   flex: 1;
   overflow-y: scroll;
}
a h1:hover, a h2:hover, a h3:hover {
   text-decoration: underline;
}
hr {
   border-color: #0000;
   border-width: 0px;
   height: 10px;
   background-color: black;
   -webkit-box-shadow: inset -0px 0px 2px 2px #50332F; /* WebKit */
   -moz-box-shadow: inset -0px 0px 2px 2px #50332F; /* Firefox */
   box-shadow: inset -0px 0px 2px 2px #50332F; /* Standard */
}
pre {
   padding: 10px;
   margin-left: 48px;
   margin-right: 48px;
}
code {
   padding-left: 3px;
   padding-right: 3px;
}
pre code {
   padding: 0px;
   margin: 0px;
   background-color: #0000;
   border-radius: 0px;
}
pre, code {
   color: white;
   background-color: #102020;
   border-radius: 5pt;
}
